body {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
}
svg {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
button {
  font-family: inherit;
  color: currentColor;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*------------ HEADER --------------*/

/*------------ MOBILE------------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}
.navigation-link-items {
  display: none;
}
.all-adresses {
  display: none;
  font-style: normal;
}
.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-header {
  display: flex;
  flex-direction: row;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo-header .logo-header-accent {
  color: #2e2f42;
}

/*-------- END MOBILE HEADER----- */

/*----------------TABLET HEADER----------------- */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation-link {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 40px;
  }
  .navigation-link-items {
    display: block;
    font-weight: 500;
  }
  .navigation-link-items .link {
    display: block;
    position: relative;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-link-items:hover .link,
  .navigation-link-items .link:focus {
    color: #404bbf;
  }

  #studio-header {
    color: #404bbf;
  }
  .navigation-link-items #studio-header::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -25px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .all-adresses {
    display: block;
  }
  .address-link-items {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link-items:hover,
  .address-link-items:focus {
    color: #4d5ae5;
  }
  .address-link-items:first-child {
    margin-bottom: 12px;
  }
  .menu-button {
    display: none;
  }
}

/* ----------- END TABLET HEADER ----------- */

/* ------------DESCTOP HEADER -------------- */

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .logo-header {
    margin-right: 76px;
  }
  .address-link {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
  .address-link-items {
    font-size: 16px;
    color: #434455;
  }
  .address-link-items:first-child {
    margin-bottom: 0px;
  }
}

/* ----------- END DESCTOP HEADER ------------ */

/* ----------MODAL WINDOW---------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  z-index: 1200;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-icons-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
}
.close-button:hover .button-icons-close,
.close-button:focus .button-icons-close {
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-user-information {
  display: flex;
  flex-direction: column;
}
.form-user-information > :nth-child(4) {
  margin-bottom: 16px;
}
.modal-label {
  display: block;
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  padding-bottom: 11px;
  padding-top: 11px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus-within {
  border: 1px solid #4d5ae5;
}
.input-icons-wrapper {
  position: relative;
}
.input-modal-icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover + .input-modal-icons,
.modal-input:focus-within + .input-modal-icons {
  fill: #4d5ae5;
}
.user-information {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.policy-text {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
}
.policy-accent {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.policy-box {
  margin-bottom: 24px;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 8px;
}
.icon-policy {
  min-width: 16px;
  min-height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:focus + .policy-text .icon-policy {
  border-color: #404bbf;
}
.modal-checkbox:checked + .policy-text .icon-policy {
  background-color: #404bbf;
  border: none;
}
.modal-checkbox:checked + .policy-text .icon-policy {
  fill: #f4f4fd;
}

.send-button {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-button:hover,
.send-button:focus {
  background-color: #404bbf;
}

/* tab and desctop modal window */
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}

/* MOBILE MENU */

.mobile-menu-wrapper {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile-menu-wrapper {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu {
    background-color: #ffffff;
    width: 100%;
    max-width: 320px;
    height: 100%;
    padding-top: 72px;
    padding-left: 16px;
    padding-right: 24px;
    padding-bottom: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-icons-close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .close-button:hover,
  .close-button:focus {
    background-color: #404bbf;
    border: none;
  }
  .close-button:hover .button-icons-close,
  .close-button:focus .button-icons-close {
    fill: #ffffff;
  }

  .mobile-navigation-link {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }
  .mobile-navigation-link-items .link {
    display: block;
    margin-bottom: 40px;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-navigation-link-items:hover .link,
  .mobile-navigation-link-items .link:focus {
    color: #404bbf;
  }
  #studio-menu-mobile {
    color: #404bbf;
  }

  .mobile-address-link-items:first-child {
    margin-bottom: 24px;
  }
  .contacts-mobile {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    font-style: normal;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-mobile:hover,
  .contacts-mobile:focus {
    color: #4d5ae5;
  }

  .social-icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
  }
  .social-icons .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-icons:hover .link,
  .social-icons .link:focus {
    background-color: #404bbf;
  }
  .soc-icon {
    fill: #f4f4fd;
  }
  .social-icons-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0;
  }
}

.is-hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}
