body {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
}
svg {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
button {
  font-family: inherit;
  color: currentColor;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
section {
  margin-left: auto;
  margin-right: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
/*------------MOBILE HEADER --------------*/

.header {
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header .container {
  max-width: 320px;
}
.navigation-link-items {
  display: none;
}
.all-adresses {
  display: none;
  font-style: normal;
}
.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-header {
  display: flex;
  flex-direction: row;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo-header .logo-header-accent {
  color: #2e2f42;
}

/*----------------TABLET HEADER----------------- */

@media screen and (min-width: 768px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header .container {
    max-width: 768px;
  }
  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation-link {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 40px;
  }
  .navigation-link-items {
    display: block;
    font-weight: 500;
  }
  .navigation-link-items .link {
    display: block;
    position: relative;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-link-items:hover .link,
  .navigation-link-items .link:focus {
    color: #404bbf;
  }

  #studio-header {
    color: #404bbf;
  }
  .navigation-link-items #studio-header::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -25px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .all-adresses {
    display: block;
  }
  .address-link-items {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link-items:hover,
  .address-link-items:focus {
    color: #4d5ae5;
  }
  .address-link-items:first-child {
    margin-bottom: 12px;
  }
  .menu-button {
    display: none;
  }
}

/* ------------DESKTOP HEADER -------------- */

@media screen and (min-width: 1158px) {
  .header .container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .logo-header {
    margin-right: 76px;
  }
  .address-link {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
  .address-link-items {
    font-size: 16px;
    color: #434455;
  }
  .address-link-items:first-child {
    margin-bottom: 0px;
  }
}

/* ------------ MOBILE HERO SECTION------------- */

.main-title {
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    image-set(
      url("../images/background/Dark-bg-mob.jpg") 1x,
      url("../images/background/Dark-bg-mob@2x.jpg") 2x
    );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.main-heading {
  max-width: 216px;
  margin-top: 0;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}
.button-hero {
  display: block;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  height: 56px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
}

/* ------------TABLET HERO SECTION------------- */

@media screen and (min-width: 768px) {
  .main-title {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      image-set(
        url("../images/background/Dark-bg-tab.jpg") 1x,
        url("../images/background/Dark-bg-tab@2x.jpg") 2x
      );
  }
  .main-title .container {
    max-width: 768px;
  }
  .main-heading {
    min-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}

/* --------------DESKTOP HERO SECTION---------------- */

@media screen and (min-width: 1158px) {
  .main-title {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      image-set(
        url("../images/background/people-office-bg-dt.jpg") 1x,
        url("../images/background/people-office-bg-dt@2x.jpg") 2x
      );
  }
  .main-title .container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-heading {
    margin-bottom: 48px;
  }
}

/* ----------------MOBILE FIRST SECTION------------------------- */

.first-section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.first-section .container {
  max-width: 320px;
}

.flex-list .text-item {
  margin-bottom: 72px;
}
.text-item .item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.text-item:last-child {
  margin-bottom: 0;
}
.text-item .text-section {
  font-weight: 500;
}
.icons-box {
  display: none;
}

/* ------------TABLET FIRST SECTION ------------- */

@media screen and (min-width: 768px) {
  .first-section {
    padding-top: 96px;
    padding-bottom: 96px;
    margin-left: auto;
    margin-right: auto;
  }
  .first-section .container {
    max-width: 768px;
  }
  .first-section .flex-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 72px;
  }
  .flex-list .text-item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }
  .text-item .item-title {
    margin-bottom: 8px;
    text-align: left;
  }
  .text-item .text-section {
    font-weight: 500;
    font-size: 16px;
  }
}

/* ------------DESKTOP FIRST SECTION ------------- */

@media screen and (min-width: 1158px) {
  .first-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .first-section .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .first-section .flex-list {
    gap: 24px;
  }
  .flex-list .text-item {
    max-width: 264px;
    width: calc((100% - 24px) / 3);
    margin-bottom: 0;
  }
  .text-item .item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  .text-item .text-section {
    font-weight: 400;
    font-size: 16px;
  }
  .icons-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }
}

/* -------------MOBILE TEAM SECTION-------------------- */

.team-section {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
.team-section .container {
  max-width: 320px;
  padding-left: 28px;
  padding-right: 28px;
}
.team-section .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.container .flex-card {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}
.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 264px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #ffffff;
}
.team-card .name {
  padding-top: 32px;
  padding-bottom: 32px;
}
.name .item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.name .text-section {
  margin-bottom: 8px;
}
.social-icons-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 0;
}
.social-icons {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.social-icons .link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons:hover .link,
.social-icons .link:focus {
  background-color: #404bbf;
}
.soc-icon {
  fill: #f4f4fd;
}

/* ------------TABLET TEAM SECTION ------------- */

@media screen and (min-width: 768px) {
  .team-section .container {
    max-width: 768px;
  }
  .container .flex-card {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }
  .team-card {
    width: calc((100% - 24px) / 2);
  }
}

/* -------------DESKTOP TEAM SECTION----------------------- */

@media screen and (min-width: 1158px) {
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-section .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .flex-card {
    gap: 24px;
    justify-content: space-between;
  }
  .team-card {
    width: calc((100% - 24px) / 3);
  }
}

/* -----------------MOBILE PORTFOLI SECTION------------------- */

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.portfolio-section .container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-section .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-card {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}
.products {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}
.portfolio-item {
  width: 288px;
  height: 400px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  cursor: pointer;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item-box {
  position: relative;
  overflow: hidden;
}
.overley-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  height: 100%;
  width: 100%;
  color: #f4f4fd;
  padding: 40px 32px;
  margin: 0;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overley-text {
  transform: translateY(0);
}
.portfolio-card .item-title {
  margin-bottom: 8px;
  margin-top: 0;
  line-height: 1.2;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-card .text-section {
  margin: 0;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ------------TABLET PORTFOLIO SECTION ------------- */

@media screen and (min-width: 768px) {
  .portfolio-section .container {
    max-width: 768px;
  }
  .portfolio-card {
    justify-content: center;
    gap: 24px;
    row-gap: 72px;
  }
  .portfolio-item {
    width: 356px;
    height: 420px;
    width: calc((100% - 24px) / 2);
  }
}

/* ------------DESKTOP PORTFOLIO SECTION ------------- */

@media screen and (min-width: 1158px) {
  .portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-section .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio-card {
    justify-content: space-between;
    gap: 24px;
    row-gap: 40px;
  }
  .portfolio-item {
    width: 360px;
    height: 420px;
    width: calc((100% - 48px) / 3);
  }
}

/* -----------MOBILE FOOTER----------------- */

.site-footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
  margin-right: auto;
  margin-left: auto;
}
.site-footer .container {
  max-width: 320px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  text-align: center;
}
.logo-footer .logo-footer-accent {
  color: #f4f4fd;
}
.site-footer .text-section {
  max-width: 288px;
  color: #f4f4fd;
}
.footer-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
}
.footer-flex .text-section {
  max-width: 264px;
}
.social-icons-footer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 72px;
}
.icons-footer {
  width: 40px;
  height: 40px;
  display: flex;
}
.icons-footer .link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-footer:hover .link,
.icons-footer .link:focus {
  background-color: #31d0aa;
}
.social-icons-footer .text-section {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.social-icons-footer .social-icons-box {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.subscrybe-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.subscrybe-footer .text-section {
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 16px;
}
.label-footer {
  width: 100%;
}
.input-footer {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.input-footer::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}
.footer-button-icons {
  fill: #fff;
  margin-left: 16px;
}

/* ------------TABLET FOOTER ------------- */

@media screen and (min-width: 768px) {
  .site-footer .container {
    max-width: 768px;
    padding-left: 108px;
  }
  .footer-logo-icons-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    margin-bottom: 72px;
    align-items: flex-start;
  }
  .logo-footer {
    text-align: left;
    margin-bottom: 16px;
  }
  .site-footer .text-section {
    max-width: 264px;
    text-align: left;
  }
  .footer-flex {
    display: flex;
    flex-direction: column;
    width: 264px;
    margin: 0;
  }
  .social-icons-footer {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0;
    width: 208px;
  }
  .social-icons-footer .social-icons-box {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    margin: 0;
  }
  .subscrybe-footer {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .subscrybe-footer .text-section {
    font-weight: 500;
    color: #fff;
    text-align: left;
  }
  .subscrybe-footer .form-footer {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }
  .input-footer {
    width: 264px;
  }
  .label-footer {
    width: 264px;
  }
}

/* -----------DESKTOP FOOTER----------- */

@media screen and (min-width: 1158px) {
  .site-footer {
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .site-footer .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer-flexbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .footer-logo-icons-wrapper {
    display: inline-flex;
    align-items: flex-start;
    gap: 120px;
    margin-bottom: 0;
  }

  .subscrybe-footer {
    max-width: 453px;
    align-items: flex-start;
  }
  .subscrybe-footer .form-footer {
    gap: 24px;
  }
}

/* ----------MODAL WINDOW---------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  z-index: 1200;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-icons-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
}
.close-button:hover .button-icons-close,
.close-button:focus .button-icons-close {
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-user-information {
  display: flex;
  flex-direction: column;
}
.form-user-information > :nth-child(4) {
  margin-bottom: 16px;
}
.modal-label {
  display: block;
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  padding-bottom: 11px;
  padding-top: 11px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus-within {
  border: 1px solid #4d5ae5;
}
.input-icons-wrapper {
  position: relative;
}
.input-modal-icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover + .input-modal-icons,
.modal-input:focus-within + .input-modal-icons {
  fill: #4d5ae5;
}
.user-information {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.policy-text {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
}
.policy-accent {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.policy-box {
  margin-bottom: 24px;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 8px;
}
.icon-policy {
  min-width: 16px;
  min-height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:focus + .policy-text .icon-policy {
  border-color: #404bbf;
}
.modal-checkbox:checked + .policy-text .icon-policy {
  background-color: #404bbf;
  border: none;
}
.modal-checkbox:checked + .policy-text .icon-policy {
  fill: #f4f4fd;
}

.send-button {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-button:hover,
.send-button:focus {
  background-color: #404bbf;
}

/* tab and desktop modal window */
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}

/* MOBILE MENU */

.mobile-menu-wrapper {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile-menu-wrapper {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu {
    background-color: #ffffff;
    width: 100%;
    max-width: 320px;
    height: 100%;
    padding-top: 72px;
    padding-left: 16px;
    padding-right: 24px;
    padding-bottom: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-icons-close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .close-button:hover,
  .close-button:focus {
    background-color: #404bbf;
    border: none;
  }
  .close-button:hover .button-icons-close,
  .close-button:focus .button-icons-close {
    fill: #ffffff;
  }

  .mobile-navigation-link {
    display: flex;
    gap: 40px;
    flex-direction: column;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }
  .mobile-navigation-link-items .link {
    display: block;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-navigation-link-items:hover .link,
  .mobile-navigation-link-items .link:focus {
    color: #404bbf;
  }
  #studio-menu-mobile {
    color: #404bbf;
  }

  .mobile-all-adresses {
    margin-bottom: 48px;
  }
  .mobile-address-link {
    display: flex;
    gap: 24px;
    flex-direction: column-reverse;
  }
  #menu-phone-nomber {
    color: #4d5ae5;
  }
  .contacts-mobile {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    font-style: normal;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-mobile:hover,
  .contacts-mobile:focus {
    color: #4d5ae5;
  }

  .social-icons-menu {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
  }
  .social-icons-menu .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-icons-menu:hover .link,
  .social-icons-menu .link:focus {
    background-color: #404bbf;
  }
  .soc-icon-menu {
    fill: #f4f4fd;
  }
  .social-icons-box-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0;
  }
}

.is-hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}
